<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CustomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/Capgemini/CustomerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CustomerService"
                contract="CustomerServiceReference.CustomerService" name="BasicHttpBinding_CustomerService" />
        </client>
    </system.serviceModel>
</configuration>